<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>

<body>

<h1>My Chat App</h1>

<div id="chat-box"></div>

<input type="text" id="message" placeholder="Type message">

<input type="file" id="imageInput" accept="image/*">

<button onclick="sendMessage()">Send Message</button>

<button onclick="sendImage()">Send Image</button>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>